body {
    background-color: #fff;
    font-family: sans-serif;
}

span {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.closed {
    background: url(closed.png);
    background-size: 50px 50px;
}

.opened {
    background: url(opened.png);
    background-size: 50px 50px;
}
